/install
lib/*.lib
*.obj
*.exp
*.ilk
*.ncb
*.pdb
*.idb
*.dep
*.res
*.ddp
*.tds
*.str
*.suo
*.embed.manifest
*.intermediate.manifest
*.vcproj.*user
.vs
.cmake
*.~c
*.~cpp
*.~h
*.~dfm
*.~bpr
*.~bpg
*.~ddp
*.~bpf
*.~def
BuildLog.htm
# MSVC build directories
**/Debug
**/Release