/install
lib/*.lib
*.obj
*.exp
*.ilk
*.ncb
*.pdb
*.idb
*.dep
*.res
*.ddp
*.tds
*.str
*.suo
*.embed.manifest
*.intermediate.manifest
*.vcproj.*user
*.vcxproj.*user
*.log
*.tlog
*.VC.db
*.VC.opendb
*.~c
*.~cpp
*.~h
*.~dfm
*.~bpr
*.~bpg
*.~ddp
*.~bpf
*.~def
BuildLog.htm
.vs
# MSVC build directories
**/Debug
**/Release