#include <Windows.h>

103 BITMAP "Bitmap_1.bmp"

105 BITMAP "Bitmap_2.bmp"

107 BITMAP "Bitmap_3.bmp"

108 BITMAP "Bitmap_4.bmp"

109 BITMAP "Bitmap_5.bmp"

120 BITMAP "Bitmap_6.bmp"

123 BITMAP "Bitmap_7.bmp"

110 DIALOG 0, 0, 284, 165
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configuracion"
LANGUAGE LANG_SPANISH, 0x3
FONT 8, "MS Sans Serif"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 165, 144, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 227, 144, 50, 14 
   CONTROL "Tab1", 1000, "SysTabControl32", TCS_TABS | WS_CHILD | WS_VISIBLE, 7, 7, 270, 129 
}

111 DIALOGEX 0, 0, 274, 178
STYLE WS_CHILD | WS_CAPTION
CAPTION "Video Mode"
LANGUAGE LANG_SPANISH, 0x3
FONT 8, "MS Sans Serif"
{
   CONTROL "&Window", 1002, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 15, 11, 135, 10 
   CONTROL "&Full Screen", 1001, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 23, 141, 10 
   CONTROL "16 bpp", 1003, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 104, 42, 38, 10 
   CONTROL "32 bpp", 1004, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 158, 42, 38, 10 
   CONTROL "", 1005, LISTBOX, LBS_STANDARD | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 37, 76, 219, 64 
   CONTROL "", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_DISABLED, 27, 34, 240, 134 , 0x00000020
   CONTROL "&Resolution", 1041, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 37, 62, 75, 8 
   CONTROL "Test", 1019, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 209, 146, 50, 14 
   CONTROL "C&olour Depth", 1040, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 37, 42, 62, 8 
   CONTROL "(Some of these modes may not be accelerated)", 1073, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 39, 148, 164, 8 
}

112 DIALOG 0, 0, 274, 178
STYLE WS_CHILD | WS_CAPTION
CAPTION "Textures"
LANGUAGE LANG_SPANISH, 0x3
FONT 8, "MS Sans Serif"
{
   CONTROL "", 1008, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 62, 32, 45, 13 
   CONTROL "Do &Not Use Compressed Textures", 1010, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 98, 128, 10 
   CONTROL "", 1011, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 62, 53, 45, 13 
   CONTROL "", 1042, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 62, 74, 120, 59 
   CONTROL "Reset", 1035, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 217, 157, 50, 14 
   CONTROL "&LOD Bias", 1068, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 55, 49, 8 
   CONTROL "&Filter Mode", 1069, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 76, 49, 8 
   CONTROL "&Anisotropic", 1067, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 34, 48, 8 
   CONTROL "Do Not &Use Palettes", 1012, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 115, 88, 10 
}

114 DIALOG 0, 0, 274, 178
STYLE WS_CHILD | WS_CAPTION
CAPTION "Color"
LANGUAGE LANG_SPANISH, 0x3
FONT 8, "MS Sans Serif"
{
   CONTROL "&Gamma", 1057, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 25, 49, 39, 8 
   CONTROL "Slider1", 1021, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 67, 46, 161, 15 
   CONTROL "&Brightness", 1058, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 25, 74, 40, 8 
   CONTROL "Slider2", 1022, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 67, 71, 161, 15 
   CONTROL "&Contrast", 1059, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 25, 100, 40, 8 
   CONTROL "Slider3", 1023, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 67, 96, 161, 15 
   CONTROL "&Use Hardware Gamma if possible", 1043, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 139, 162, 10 
   CONTROL "&Reset", 1024, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 217, 157, 50, 14 
   CONTROL "Static", 1037, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 234, 49, 19, 8 
   CONTROL "Static", 1038, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 234, 74, 19, 8 
   CONTROL "Static", 1039, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 234, 100, 19, 8 
}

115 DIALOG 0, 0, 274, 178
STYLE WS_CHILD | WS_CAPTION
CAPTION "Toon"
LANGUAGE LANG_SPANISH, 0x3
FONT 8, "MS Sans Serif"
{
   CONTROL "", 1025, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 76, 36, 40, 13 
   CONTROL "Spin1", 1026, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_CHILD | WS_VISIBLE, 118, 35, 11, 14 
   CONTROL "", 1033, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 76, 64, 143, 60 
   CONTROL "Toon Colour", 1028, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 90, 57, 10 
   CONTROL "Reset", 1034, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 217, 157, 50, 14 
   CONTROL "&Line Width", 1070, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 38, 55, 8 
   CONTROL "&Shade Mode", 1071, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 66, 56, 8 
}

117 DIALOG 0, 0, 274, 178
STYLE WS_CHILD | WS_CAPTION
CAPTION "Misc"
LANGUAGE LANG_SPANISH, 0x3
FONT 8, "MS Sans Serif"
{
   CONTROL "Show &Info", 1029, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 36, 123, 10 
   CONTROL "Show &Object Triangles", 1030, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 54, 136, 10 
   CONTROL "Show &Map Outline", 1031, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 72, 134, 10 
   CONTROL "Show Map &Triangles", 1032, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 90, 128, 10 
   CONTROL "Reset", 1036, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 217, 157, 50, 14 
   CONTROL "", 1048, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 211, 34, 40, 13 
   CONTROL "Spin1", 1049, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_CHILD | WS_VISIBLE, 253, 33, 9, 14 
   CONTROL "Swap Interval", 1072, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 153, 36, 56, 8 
   CONTROL "Use Texture Font For System", 1054, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 108, 136, 10 
   CONTROL "Opaque Background", 1055, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 30, 126, 121, 10 
   CONTROL "Scale", 1061, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 29, 144, 24, 8 
   CONTROL "", 1056, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 57, 142, 42, 14 
}

121 DIALOG 0, 0, 274, 177
STYLE WS_CHILD | WS_CAPTION
CAPTION "Atmosphere"
LANGUAGE LANG_SPANISH, 0x3
FONT 8, "MS Sans Serif"
{
   CONTROL "Use OpenGL Fog", 1044, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 34, 102, 10 
   CONTROL "Subdivide Map", 1045, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 50, 93, 10 
   CONTROL "", 1047, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 50, 82, 40, 12 
   CONTROL "Fog Factor", 1060, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 83, 40, 8 
   CONTROL "Reset", 1074, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 217, 157, 50, 14 
}

124 DIALOG 0, 0, 274, 177
STYLE WS_CHILD | WS_CAPTION
CAPTION "OpenGL"
LANGUAGE LANG_SPANISH, 0x3
FONT 8, "MS Sans Serif"
{
   CONTROL "Vendor:", 1062, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 24, 43, 8 
   CONTROL "Renderer:", 1063, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 36, 44, 8 
   CONTROL "Version:", 1064, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 48, 37, 8 
   CONTROL "OpenGL information only available if dialog box called", 1050, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 62, 24, 192, 8 
   CONTROL "from the game", 1051, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 62, 36, 189, 8 
   CONTROL "Static", 1052, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 62, 48, 190, 8 
   CONTROL "Extensions gl:", 1065, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 66, 52, 8 
   CONTROL "", 1053, LISTBOX, LBS_STANDARD | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 65, 66, 200, 67 
   CONTROL "Extensions wgl:", 1066, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 139, 54, 8 
   CONTROL "", 1055, LISTBOX, LBS_STANDARD | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 65, 139, 200, 31 
}


1 VERSIONINFO
FILEVERSION 0,8,0,4
PRODUCTVERSION 0,8,0,4
FILEOS 0x40004
FILETYPE 0x2
{
BLOCK "StringFileInfo"
{
    BLOCK "040904b0"
    {
        VALUE "Comments", ""
        VALUE "CompanyName", "Rebel Act Studios"
        VALUE "FileDescription", "OpenGL Raster for Blade"
        VALUE "FileVersion", "0, 8, 0, 4"
        VALUE "InternalName", "rOpenGL"
        VALUE "LegalCopyright", "Copyright © 1999"
        VALUE "LegalTrademarks", ""
        VALUE "OriginalFilename", "rOpenGL.dll"
        VALUE "PrivateBuild", ""
        VALUE "ProductName", "OpenGL Raster"
        VALUE "ProductVersion", "0, 8, 0, 4"
        VALUE "SpecialBuild", ""
    }
}

BLOCK "VarFileInfo"
{
    VALUE "Translation", 0x0409 0x04B0
}
}

